.background {
    height: 100vh;


    background: linear-gradient(
    #019688 0px,
    #019688 15vh,
    #D7DBD6 15vh,
    #D7DBD6 100%)

}

.main-window {
    width: 80%;
    height: 95vh;
    margin: auto;
    

    border: 1px solid black;

}


/* Sidebar */

aside {
    height: 100%;
    width: 35%;
    border-right: 1px solid #019688;

    background-color: #fff;
}

.chat {
    height: 100%;
    width: 65%;


    background-color: #E4DCD4;
}

#user-bar {
    background-color: #EAEAEA;

}

.avatar{
    height: 50px;
    border-radius: 50%;
}

#notifications {
    background-color: #8EDAFB;
    height: 70px;
}


#notification, a {
    font-size: 12px;
}


/* Icons */

.icons {
    color: #B1B1B1;
}

.fa-bell-slash{
    color: #8EDAFB;;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
}


/* Searchbar */

#search {
    background-color:#EAEAEA;;
}

.search-bar {
    background-color: #ffffff;
}

input {
    border: none;
    outline: none;
}


/* Contact list */




